<div class="border-b border-gray pb-3">
  <span class="text-4xl font-medium text-primary/90">Changelog</span>
</div>
<div *ngFor="let cs of changes" class="mt-10">
  <span class="text-2xl font-bold text-primary/80">{{cs.date}}</span>
  <div *ngFor="let c of cs.changes" class="flex my-4">
    <div class="font-mono">
      <span *ngIf="c.type == 'new'" class="text-white bg-pink-500 py-0.5 px-3 rounded-xl text-xs font-medium">New</span>
      <span *ngIf="c.type == 'fix'" class="text-white bg-zinc-500 py-0.5 px-3 rounded-xl text-xs font-medium">Fix</span>
      <span *ngIf="c.type == 'improved'" class="text-white bg-emerald-500 py-0.5 px-3 rounded-xl text-xs font-medium">Improved</span>
    </div>
    <div class="ml-4 text-primary/70">
      {{c.description}}
    </div>
  </div>
</div>
