<tec-tool-head></tec-tool-head>
<div>
  <h4 class="mt-5">Encode</h4>
  <form [formGroup]="formEncode" class="p-2">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Benutzername</label>
        <input class="form-control" formControlName="username" id="username">
      </div>
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password">
      </div>
    </div>

    <div class="form-group">
      <input formControlName="out" class="form-control" [readonly]="true" placeholder="Ausgabe">
    </div>

    <button class="btn btn-secondary mr-2 mt-2" (click)="submitEncodeRequest()">
      <span>Senden</span>
    </button>
    <button class="btn btn-secondary mr-2 mt-2" (click)="copyEncodedToClipboard()" [disabled]="formEncode.value.out.length == 0">In Zwischenablage kopieren</button>
  </form>

  <h4 class="mt-5">Decode</h4>
  <form [formGroup]="formDecode" class="p-2">
    <div class="form-group">
      <label for="encoded">Kodierter Basic-Auth Eintrag</label>
      <input class="form-control" formControlName="encoded" id="encoded">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="outUser">Benutzername</label>
        <input class="form-control" formControlName="outUser" id="outUser" [readonly]="true">
      </div>
      <div class="form-group col-md-6">
        <label for="outPassword">Password</label>
        <input class="form-control" type="text" id="outPassword" formControlName="outPassword" [readonly]="true">
      </div>
    </div>

    <button class="btn btn-secondary mr-2 mt-2" (click)="submitDecodeRequest()">
      <span>Senden</span>
    </button>
    <button class="btn btn-secondary mr-2 mt-2" (click)="copyDecodedUserToClipboard()" [disabled]="formDecode.value.outUser.length == 0">Benutzer in Zwischenablage kopieren</button>
    <button class="btn btn-secondary mr-2 mt-2" (click)="copyDecodedPasswordToClipboard()" [disabled]="formDecode.value.outPassword.length == 0">Kennwort in Zwischenablage kopieren</button>
  </form>
</div>
