<div class="wrapper min-h-screen">
  <div class="mt-5 headline w-full md:w-11/12 2xl:w-4/5 m-auto flex justify-between items-center">
    <img src="assets/header.png" alt="TEC.TOOLS LOGO" class="w-56 md:w-fit hover:cursor-pointer" routerLink="/">
    <img src="assets/GitHub-Mark-120px-plus.png" alt="GitHub Mark" class="w-10 hover:cursor-pointer">
  </div>
  <div class="content w-full md:w-11/12 2xl:w-4/5 mx-auto my-0">
    <router-outlet></router-outlet>
  </div>
  <div class="footer mt-10 bg-gray-100 flex justify-center p-2 text-gray-500">
    tec.tools is&nbsp;<a href="#">open source</a>
  </div>
</div>

