<tec-tool-head></tec-tool-head>
<div>
  <form [formGroup]="form">
    <div class="form-group mt-5">
      <label for="dnsHost"><b>Zieladresse</b></label>
      <input type="text" class="form-control" id="dnsHost" placeholder="z.B. '8.8.8.8'" formControlName="dnsHost">
      <div class="invalid-feedback">
        Du musst einen Zielhost (z.B. "8.8.8.8") angeben.
      </div>
    </div>
    <button class="btn btn-secondary" (click)="submitRequest()">
      <span *ngIf="!loading">Senden</span>
    </button>
  </form>
</div>
<div class="mt-5" *ngIf="data">
  <h4 class="hea">JSON Antwort</h4>
  <tec-code-json [json]="data"></tec-code-json>
</div>
