<div *ngIf="data">
  <div class="md:px-3 pb-3 border-b border-gray grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 items-center gap-3">
    <div class="flex items-center">
      <i-feather [name]="data.icon" class="text-secondary mt-1 icon-lg"></i-feather>
      <div class="ml-4">
        <div class="text-2xl font-medium text-primary/90">
          {{data.title}}
        </div>
        <div class="text-primary/50 text-sm">
          {{data.description}}
        </div>
      </div>
    </div>
    <div class="md:ml-auto order-2 md:order-none text-xs w-full lg:w-fit xl:m-auto">
      <div
        *ngIf="!data.externalDataProcessors || data.externalDataProcessors.length == 0"
        class="border border-primary/10 py-2 px-4 rounded"
      >
        <div class="flex items-center lg:w-fit">
          <div class="mr-3">
            <i-feather class="text-lime-400/90 mt-0.5 icon-md" name="cloud-off"></i-feather>
          </div>
          <div class="text-primary/50">
            This tool works locally. No data will be sent to any server.
          </div>
        </div>
      </div>
    </div>
    <div class="xl:text-right text-xs uppercase">
      <span class="border border-secondary rounded px-2 py-1 font-medium text-secondary">{{data.category}}</span>
      <span class="border border-primary/50 rounded px-2 py-1 text-primary/50 ml-1 " *ngFor="let tag of data.tags">{{tag}}</span>
    </div>
  </div>
  <!-- TODO: Design -->
  <div
    *ngIf="data.externalDataProcessors && data.externalDataProcessors.length > 0"
    class="border border-primary/10 rounded mt-5 "
  >
    <div class="flex flex-row items-center hover:bg-primary/10 hover:cursor-pointer py-1 text-primary/60 select-none">
      <i-feather class="ml-3 mt-0.5 icon-sm text-orange-500" name="upload-cloud"></i-feather>
      <div class="ml-2 text-primary/60">
        This tool uses external services which might process entered data.
      </div>
    </div>
  </div>
</div>
