@tailwind base;
@tailwind components;
@tailwind utilities;

input, select, textarea {
  @apply p-1 border border-primary/20 rounded active:outline-secondary/70 focus:outline-secondary/70 w-full xl:w-6/12 lg:w-8/12 px-1.5
}
textarea {
  @apply resize-none py-2 px-3 w-full font-mono
}
input:read-only, select:read-only, textarea:read-only {
  @apply bg-gray-50
}
button {
  @apply border border-secondary p-1 rounded text-secondary px-2 bg-secondary text-white hover:bg-secondary/90 hover:border-secondary/90 active:bg-secondary/80
}
h4 {
  @apply text-lg
}
label {
  @apply whitespace-pre-wrap
}
i-feather {
  @apply !w-4 !h-4
}

.tooltip {
  @apply relative inline-block
}
.tooltip:hover .tooltiptext {
  @apply visible
}
.tooltiptext {
  @apply absolute text-sm ml-1 bg-secondary text-white px-2 py-0.5 rounded-md invisible
}
