<div *ngIf="this.bookmarked.length > 0">
  <div class="uppercase font-medium flex justify-between items-end">
    <div class="text-primary/40 ">
      Bookmarked
    </div>
    <div>
      <button (click)="unbookmarkAll()">Remove all stars</button>
    </div>
  </div>
  <div
    [ngTemplateOutlet]="toolsDisplay"
    [ngTemplateOutletContext]="{tools:this.filterBookmarkedTools(), bookmarker:true}"
  ></div>
</div>
<div *ngFor="let coll of filterNonBookmarkedToolsByCollection() | keyvalue" class="mt-5">
  <div class="uppercase font-medium text-primary/40">
    {{coll.key}}
  </div>
  <div
    [ngTemplateOutlet]="toolsDisplay"
    [ngTemplateOutletContext]="{tools:coll.value, bookmarker:false}"
  ></div>
</div>

<ng-template #toolsDisplay let-tools="tools" let-bookmarker="bookmarker">
  <div class="mt-2 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-5 auto-rows-fr">
    <div *ngFor="let tool of tools" class="border border-gray rounded hover:cursor-pointer hover:bg-gray-50" [routerLink]="tool.path">
      <div class="relative">
        <div class="absolute w-full top-0 right-0 text-xs flex justify-between">
          <div class="-mb-2 p-1 flex">
            <i-feather *ngIf="bookmarker" name="bookmark" class="text-gray-400/60 cursor-pointer !w-5 !h-5 mr-1" style=""></i-feather>
            <i-feather *ngIf="tool.externalDataProcessors.length > 0" name="upload-cloud" class="text-gray-400/60 !w-5 !h-5"></i-feather>
          </div>
          <div class="flex p-1.5">
            <div class="border border-secondary text-secondary px-1 rounded-lg font-mono uppercase">
              {{tool.category}}
            </div>
          </div>
        </div>
      </div>
      <div class="h-full grid grid-cols-auto-1 items-center px-2 py-4">
        <i-feather [name]="tool.icon" class="icon-lg text-secondary m-3"></i-feather>
        <div class="ml-2">
          <div class="text-primary/90 text-2xl font-medium">
            {{tool.title}}
          </div>
          <div class="text-sm leading-4 pb-1.5 mt-1 pr-2 text-primary/60">
            {{tool.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

