<div *ngIf="this.starred.length > 0">
  <div class="uppercase font-medium flex justify-between items-end border-b border-secondary/5 pb-1">
    <div class="text-primary/40 ">
      Starred
    </div>
    <div>
      <button (click)="unstarAll()" class="btn-sm">Remove all stars</button>
    </div>
  </div>
  <div
    [ngTemplateOutlet]="toolsDisplay"
    [ngTemplateOutletContext]="{tools:this.filterStarredTools(), starred:true}"
  ></div>
</div>
<div *ngFor="let coll of filterUnstarredToolsByCollection() | keyvalue" class="mt-5">
  <div class="uppercase font-medium text-primary/40 border-b border-secondary/5 pb-0.5">
    {{coll.key}}
  </div>
  <div
    [ngTemplateOutlet]="toolsDisplay"
    [ngTemplateOutletContext]="{tools:coll.value, starred:false}"
  ></div>
</div>

<ng-template #toolsDisplay let-tools="tools" let-starred="starred">
  <div class="mt-2 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-5 auto-rows-fr">
    <div *ngFor="let tool of tools" class="border border-gray rounded hover:cursor-pointer hover:bg-gray-50" [routerLink]="tool.path">
      <div class="relative">
        <div class="absolute top-2 right-2 text-xs flex">
          <div *ngIf="starred">
            <i-feather name="star" class="text-amber-500/90 cursor-pointer mt-0.5 mr-2" style="fill: #fbbf24;"></i-feather>
          </div>
          <div class="mr-2 rounded-lg px-2 text-orange-800/50 border border-orange-800/20" *ngIf="tool.externalDataProcessors.length > 0">
            Uses external API
          </div>
          <div class="border border-secondary text-secondary px-1 rounded-lg font-mono uppercase">
            {{tool.category}}
          </div>
        </div>
      </div>
      <div class="h-full grid grid-cols-auto-1 items-center px-2 py-4">
        <i-feather [name]="tool.icon" class="icon-lg text-secondary m-3"></i-feather>
        <div class="ml-2">
          <div class="text-primary/90 text-2xl font-medium">
            {{tool.title}}
          </div>
          <div class="text-sm leading-4 pb-1.5 mt-1 pr-2 text-primary/60">
            {{tool.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

